<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :user_password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.text_field :password_confirmation, id: :user_password_confirmation %>
  </div>

  <div class="field">
    <% levels = {'Admin' => 1, 'Doctor' => 2, 'Paciente' => 3}%>
    <% list = levels
       list.each {|x| %>
        <td><%= radio_button(:user, :tipo, x[1] )%> <span><%=x[0]%></span> </td>
    <% } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
