Estimado Dr. <%=@doctor.name%>,

Su Paciente: <%= @patient.name %> ha llenado una encuesta semanal. Sus resultados generaron una alerta ROJA!

SÍNTOMAS
<% if @pro.q1 > 0%>
  Dolor: <%= @pro.q1%>
<% end %>
<% if @pro.q2 >0 %>
  Falta de Aliento o Tos: <%=@pro.q2%>
<% end %>
<% if @pro.q3 > 0%>
  Nausea/Vómito: <%= @pro.q3%>
<% end %>
<%if @pro.q4 > 0%>
  Fatiga/Somnolencia: <%= @pro.q4 %>
<% end %>
<% if @pro.q5 > 0%>
  Angustia: <%= @pro.q5%>
<% end %>
<% if @pro.q6 >0 %>
  Diarrea: <%=@pro.q6%>
<% end %>
<% if @pro.q7 > 0%>
  Problemas de Atencion, Memoria o Coordinacion: <%= @pro.q7%>
<% end %>
<%if @pro.q8 > 0%>
  Falta de Apetito: <%= @pro.q8 %>
<% end %>
<% if @pro.q9 > 0%>
  Constipación: <%= @pro.q9%>
<% end %>
<% if @pro.q10 >0 %>
  Resequedad u otros malestares en la boca: <%=@pro.q10%>
<% end %>
<% if @pro.q11 > 0%>
  Insomnio: <%= @pro.q11%>
<% end %>
<%if @pro.q12 > 0%>
  Tristeza: <%= @pro.q12 %>
<% end %>
<% if @pro.q13 > 0%>
  Fiebre: <%= @pro.q13%>
<% end %>

CALIDAD DE VIDA
<% if @pro.q14 >0 %>
  Actividad General: <%=@pro.q14%>
<% end %>
<% if @pro.q15 > 0%>
  Humor: <%= @pro.q15%>
<% end %>
<%if @pro.q16 > 0%>
  Trabajo (incluye trabajos del hogar): <%= @pro.q16 %>
<% end %>
<% if @pro.q17 >0 %>
  Relaciones Personales: <%=@pro.q17%>
<% end %>
<% if @pro.q18 > 0%>
  Caminar: <%= @pro.q18%>
<% end %>
<%if @pro.q19 > 0%>
  Disfrutar la vida: <%= @pro.q19 %>
<% end %>

OTROS
Los sintomas son actuales?
  <%= @pro.current %>

Tiene otros sintomas que reportar?
  <%= @pro.others %>
  Severidad: <%= @pro.severity %>

INFORMACIÓN DE <%=@patient.name%>
  Teléfono: <%=@patient.phone%>
  Dirección: <%= @patient.address%>
  Email: <%= "emailaddress@patient.com"%>
  Comentarios: <%= @patient.comment%>



Le agradecemos su preferencia. 
Para dirigirte el perfil del paciente: http://www.avisosalud.com


Para cualquier duda o aclaración: avisomx@gmail.com
