<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Estimado Dr. <%=@doctor.name%>,</h3>

    <h3>Su Paciente: <%= @patient.name %> ha llenado una encuesta semanal. Sus resultados generaron una alerta ROJA!</h3>

    <h4>Síntomas</h4>

    <p>
      <% if @pro.q1 > 0%>
        <span> "Dolor: "</span><%= @pro.q1%><br>
      <% end %>

      <% if @pro.q2 >0 %>
        <span>Falta de Aliento o Tos: </span><%=@pro.q2%><br>
      <% end %>

      <% if @pro.q3 > 0%>
        <span>Nausea/Vómito: </span><%= @pro.q3%><br>
      <% end %>

      <%if @pro.q4 > 0%>
        <span>Fatiga/Somnolencia: </span><%= @pro.q4 %><br>
      <% end %>

      <% if @pro.q5 > 0%>
        <span>Angustia: </span><%= @pro.q5%><br>
      <% end %>

      <% if @pro.q6 >0 %>
        <span>Diarrea: </span><%=@pro.q6%><br>
      <% end %>

      <% if @pro.q7 > 0%>
        <span>Problemas de Atencion, Memoria o Coordinacion	: </span><%= @pro.q7%><br>
      <% end %>

      <%if @pro.q8 > 0%>
        <span>Falta de Apetito: </span><%= @pro.q8 %><br>
      <% end %>

      <% if @pro.q9 > 0%>
        <span>Constipación: </span><%= @pro.q9%><br>
      <% end %>

      <% if @pro.q10 >0 %>
        <span>Resequedad u otros malestares en la boca: </span><%=@pro.q10%><br>
      <% end %>

      <% if @pro.q11 > 0%>
        <span>Insomnio: </span><%= @pro.q11%><br>
      <% end %>

      <%if @pro.q12 > 0%>
        <span>Tristeza: </span><%= @pro.q12 %><br>
      <% end %>

      <% if @pro.q13 > 0%>
        <span>Fiebre: </span><%= @pro.q13%><br>
      <% end %>
    </p>

    <h4>Calidad de Vida</h4>

    <p>
      <% if @pro.q14 >0 %>
        <span>Actividad General: </span><%=@pro.q14%><br>
      <% end %>

      <% if @pro.q15 > 0%>
        <span>Humor: </span><%= @pro.q15%><br>
      <% end %>

      <%if @pro.q16 > 0%>
        <span>Trabajo (incluye trabajos del hogar): </span><%= @pro.q16 %><br>
      <% end %>

      <% if @pro.q17 >0 %>
        <span>Relaciones Personales: </span><%=@pro.q17%><br>
      <% end %>

      <% if @pro.q18 > 0%>
        <span>Caminar: </span><%= @pro.q18%><br>
      <% end %>

      <%if @pro.q19 > 0%>
        <span>Disfrutar la vida: </span><%= @pro.q19 %><br>
      <% end %>
    </p>

    <h4>Otros</h4>
    <p>
      <strong>Los sintomas son actuales?</strong><br>
      <%= @pro.current %><br><br>

      <strong>Tiene otros sintomas que reportar?</strong><br>
      <%= @pro.others %><br>
      <strong>Severidad: <%= @pro.severity %></strong>
    </p>


    <h3>Información de contacto de <%=@patient.name%></h3>
    <p>
      Teléfono: <%=@patient.phone%><br>
      Dirección: <%= @patient.address%><br>
      Email: <%= "emailaddress@patient.com"%><br>
      Comentarios: <%= @patient.comment%><br>
    </p>



    <p>Le agradecemos su preferencia. <br>
      Para dirigirte el perfil del paciente: (link)<br><br>

      Para cualquier duda o aclaración: avisomx@gmail.com
</p>
  </body>
</html>
