Welcome to example.com, <%= "USER's NAME HERE" %>
===============================================

You have successfully signed up to example.com,
your username is: <%= "USERNAME HERE" %>.

To login to the site, just follow this link: <%= "URL HERE" %>.

Thanks for joining and have a great day!
