<div class = "static">
  <h1>
    Contacto/subscripción
  </h1>
  <p>
    Si deseas utilizar la plataforma de Aviso o tienes cualquier duda o comentario te pedimos de la manera más atenta que nos mandes un correo a:
  <span>
    <a href="mailto:inscripcionesaviso@gmail.com">inscripcionesaviso@gmail.com</a>.
  </span>
    Trataremos de contestarte en la brevedad posible.
  </p>

  <p>
    En caso de querer una cotización de la aplicación por favor incluye los siguientes datos:
    <div class = "UL">
    <ul>
      <li>
        ¿Es para uso personal?
      </li><br>
      <li>
        Perteneces a una institución, ¿cual?
      </li><br>
      <li>
        Numero de cuentas que requerirías
      </li><br>
    </ul>
  </div>

  <p>
  Hacemos paquetes dependiendo de estas situaciones entre otras cosas.
  </p>

  <p>
    Si deseas facturar tu mensualidad al usar el programa mándanos tus datos fiscales a:

  <span>
    <a href="mailto:facturas.aviso@gmail.com">facturas.aviso@gmail.com</a>.
  </span>

    Te enviaremos una factura electrónica a la brevedad posible.
  </p>

  <p>
    También visítanos en nuestro
    <a href="https://www.facebook.com/avisosalud">
      Facebook @avisosalud
    </a>
  </p>
</div>
