<div class = "static">
  <h1>
    ¿Que es AVISO?
  </h1>

  <p>
    Uno de los grandes retos del tratamiento de los pacientes oncológicos es la complejidad de la enfermedad y la fragilidad
    que muchas veces el mismo tratamiento les causa a los pacientes. Es por esto mismo que es muy común la aparición de
    complicaciones y efectos adversos que son fácilmente tratables de una forma temprana, pero tienen el potencial de complicarse a
    eventos severos que culminan una visita al departamento de urgencias u hospital.
  </p>

  <p>
    Lo que AVISO pretende ser es un ayudante virtual para el cuidado de tus pacientes oncológicos.
    Nuestra meta es que de una forma electrónica y organizada se facilite el seguimiento oportuno de tus pacientes.
  </p>

  <img src="assets/home1.png" alt="home1.png" class = "centerimg">

  <p>
    A través de AVISO esperamos detectar tempranamente eventos adversos y así mejorar el pronóstico de los
    pacientes a través de la prevención de complicaciones.
  </p>

  <h1>
    ¿Como funciona AVISO?
  </h1>

  <p>
    La premisa detrás de Aviso es la dificultad y complejidad detrás de la relación entre un médico y su paciente la cual,
    por dificultades de comunicación, puede culminar en una desatención médica.
  </p>

  <img src="assets/home2.png" alt="home2.png" class = "centerimg">

  <p>
    Aquí es donde entra AVISO, un modelo PROACTIVO que busca mejorar el modelo tradicional sintomático a través de una plataforma electrónica,
    que de una manera automática monitorea estrechamente a tus pacientes, generando alertas si algún paciente presente peligro de complicarse.
  </p>

  <h1>
    ¿Cómo fue que surgió AVISO?
  </h1>
  <p>
    Aviso surge a partir de estudios y modelos que recientemente fueron publicados en Estados Unidos y Canadá sobre el uso de escalas PRO. Fue a través de estos modelos y estudios que nos percatamos del enorme potencial que pueden tener este tipo de intervenciones en la vida de los pacientes. Fue de gran interés que incluso la sobrevida fue prolongada al hacer este tipo de intervenciones.
  </p>

  <p>En un estudio en particular realizado en el Memorial Sloan Kettering Cancer Center por el doctor Ethan Bash se reportó que, comparado con el control, los pacientes que usaban aplicaciones tipo PRO tenían:

    <ul class = "UL">
      <li> 7% menos visitas al departamento de urgencias</li><br>
      <li> Tolerancia a la quimioterapia por 2 meses mas</li><br>
      <li> 31% de los pacientes tenían mejor calidad de vida</li><br>
      <li> 5.2 meses de mayor sobrevida</li><br>
    </ul>
  </p>

  <p>
    Otros modelos a lo largo del mundo han anunciado resultados prometedores, sin embargo, nos percatamos de que el área aún tiene mucho por refinar y crecer. Observamos varias limitaciones de las aplicaciones y plataformas usadas y trabajamos sobre ello para entregar un producto de calidad que puede ser de gran utilidad para el tratamiento del paciente oncológico.
  </p>

  <p>
    Te invitamos a acudir a la página del <%=link_to "Modelo Teórico", "/teoria"%> para ver los demás estudios que fundamentan la creación de AVISO de manera resumida y detallada.
  </p>

  <h1>
    Funciones específicas de AVISO
  </h1>
  <ul class="UL">
    <li>Escalas semanales tipo PRO con los síntomas de mayor relevancia en el cuidado oncológico</li><br>
    <li>Reporte de síntomas específicos no incluidos en la escala</li><br>
    <li>Reporte detallado de síntomas que el paciente actualmente experimente</li><br>
    <li>Organización automática de los síntomas según su severidad</li><br>
    <li>Alertas automáticas al médico tratante en caso de que el paciente presente un síntoma severo</li><br>
    <li>Retroalimentación personalizada básica al paciente basado en sus respuestas semanales</li><br>
    <li>Evaluación de la calidad de vida del paciente a modo de tamizaje</li><br>
  </ul>

  <h1>
    ¿Cómo puede AVISO apoyar a tu consulta?
  </h1>
  <p>
    De una manera automática AVISO genera correos semanales a tus pacientes en riesgo (aquellos con metástasis, en tratamiento activo o los que señales) pidiéndoles que llenen una corta encuesta semanal. Esta encuesta contiene los síntomas más comunes que pudieran llegar a complicarse. Posteriormente los resultados son guardados y analizados de una manera automática para graficarlos a través del tiempo. Si alguna de las respuestas da motivos de alarma se enviará una alerta al médico tratante con un correo electrónico con la severidad del síntoma usando el código de verde, amarillo y rojo. Dependiendo de la severidad del síntoma es la frecuencia con la que se mandarán los correos hasta la resolución del evento.
  </p>
  <img src="assets/home3.png" alt="home3.png" class = "centerimg">
  <p>
    De haber un síntoma de alarma se le sugiere al paciente de la manera más atenta que llene una encuesta posterior con los datos importantes de su síntoma, de tal manera que al entrar al perfil del paciente puedas rápidamente saber que le pasa a tu paciente sin tener que interrogarlo directamente, ahorrando el tiempo de un interrogatorio telefónico o durante la consulta.
  </p>
  <img src="assets/home4.png" alt="home4.png" class = "centerimg">
  <p>
    Posteriormente dependiendo de las respuestas del paciente en la escala se le enviara retroalimentación personalizada con información general de lo que está sintiendo y maneras no farmacológicas que puede seguir para aligerar su sintomatología previa a acudir con su médico. En muchas ocasiones estas recomendaciones generales pueden llegar a ser suficientes ahorrando al médico tratante llamadas innecesarias, aunque se especifica en todo momento que de ninguna manera esta aplicación es un remplazo de la relación que hay entre un médico y su paciente.
  </p>
  <img src="assets/home5.png" alt="home5.png" class = "centerimg">
  </p>
  <p>
    Otro modulo con mucho impacto es que al final de la escala se incluye un pequeño modulo que evalúa la calidad de vida. Estas preguntas tienen una intención de tamizaje, puesto que detectamos que en pacientes oncológicos muchas veces se pasa por alto estos aspectos psicológicos, sin embargo, se ha comprobado en múltiples estudios que tiene un alto impacto en la vida de los pacientes.
  </p>
  <img src="assets/home6.png" alt="home6.png" class = "centerimg">
  <p>
    Una última función de aviso es cuando un paciente tiene un síntoma que desea reportar en el momento, pero no se encuentra en la escala o cuando quiere reportar algo en específico sin tener que contestar la tabla entera. Este tipo de situaciones están ya contempladas y hay una sección específica para su evaluación y posterior reporte automático al médico tratante.
  </p>
  <img src="assets/home7.png" alt="home7.png" class = "centerimg">



  <!--
  <h1>
    ¿Cuáles son las ventajas de usar AVISO?
  </h1>
  <p>
    Usos:
  </p>
  <ul>
    <li>Herramienta de comunicación médico-paciente</li>
    <li>Herramienta de investigación</li>
    <li>Herramienta de reporte de síntomas</li>
    <li>Herramienta para organizar a tus pacientes y disminuir el burnout del medico</li>
  </ul>

  <p>
    Ventajas:
  </p>
  <ul>
    <li>•	Comunicación facilitada entre médico y paciente</li>
    <li>•	Monitoreo proactivo de los síntomas</li>
    <li>•	Tranquilidad para tus pacientes</li>
  </ul>

  <p>
    Ahorro de Tiempo:
  </p>
  <ul>
    <li>•	Información útil previa a la consulta</li>
    <li>•	Comodidad para organizar cuando y como contactas a tus pacientes</li>
    <li>•	Control de alertas puede ser delegado</li>
    <li>•	Personalización automática a través de algoritmos para la enfermedad específica de cada paciente</li>
  </ul>

  <p>

    <ul>
      <li>
-->
</div>
