<div class = "static">
  <h1>Modelo Teórico</h1>
  <h2>1.0	PLANTEAMIENTO DEL PROBLEMA</h2>
  <p>
    Hay una gama de síntomas agudos y crónicos en los pacientes oncológicos causados tanto por su enfermedad subyacente como por los tratamientos tóxicos utilizados en el cuidado oncológico.(1, 2) Dentro de estos efectos adversos hay una discrepancia importante entre los detectados por médicos y los reportados por pacientes en escalas a las que coloquialmente se les llama “Patient Reported Outcomes” (PRO).(3, 4) Dicha problemática es multifactorial; limitaciones de tiempo, complejidad de la patología o descuido del médico al interrogar y explorar al paciente son algunos de los muchos factores que la causan (5).  En diversos estudios se ha llegado a la conclusión que el uso de PROs ayuda a que el médico no pase por alto estos síntomas favoreciendo la detección temprana y reduciendo así el número de eventos desfavorables graves que cursan los pacientes, mejorando así su calidad de vida y pronostico. (6-8) En México, la experiencia con este tipo de herramientas es limitada. Gracias a las nuevas tecnologías de información es posible generar una plataforma que facilite el uso de escalas PRO para evitar eventos adversos en el paciente.
  </p>

  <h2>2.0	ANTECEDENTES Y JUSTIFICACIÓN</h2>
  <h4>2.1.	Antecedentes</h4>
  <p>
    Los proveedores de salud frecuentemente se concentran en la prevención o curación de la enfermedad, sin embargo, el alivio de los síntomas secundarios es una meta primordial para el cuidado de pacientes y en muchas ocasiones pasa desapercibido.(9, 10) Algunos síntomas son fácilmente tratables de una forma temprana, pero tienen el potencial de complicarse a eventos severos que culminan una visita al departamento de urgencias u hospital. Muchas de estas visitas son potencialmente prevenibles a través de un sistema de monitorización dinámico, como lo son los programas de PRO electrónicos.(11, 12) Gracias al uso de estos programas en  otros países hay una experiencia favorable en la detección temprana de dichos síntomas, reduciendo así los eventos adversos.(13) Los  beneficios clínicos de este monitoreo sintomático y de calidad de vida han sido múltiples, impactando en variables como calidad de vida, adherencia a la quimioterapia, visitas al departamento de urgencias y supervivencia global. (11, 14)
  </p>
  <p>
    Uno de los primeros estudios que mostraba el beneficio de cuestionarios PRO en el contexto clínico fue publicado en el 2004 por la doctora Galina Velikova y se enfocó en como esta intervención puede mejorar la calidad de vida de los pacientes. En esta serie de 286 pacientes se reportó una mejoría estadísticamente significativa en la calidad de vida (p<.01) en pacientes que regularmente completaban dos escalas asociadas a la depresión y la ansiedad en el hospital.(15)
  </p>
  <p>
    En otra serie más reciente de 766 pacientes realizada en el Memorial Sloan Kettering Cancer Center por el doctor Ethan Bash se reportó que, comparado con el control, los pacientes que usaban aplicaciones tipo PRO tenían 7% menos visitas al departamento de urgencias, 2 meses mas de tolerancia a la quimioterapia, 31% de los pacientes tenían mejor calidad de vida, 5.2 meses de mayor sobrevida.(16) Actualmente se está realizando un estudio de aproximadamente 1000 pacientes llamado PRO-TECT, en el que todavía están reclutando pacientes para validar el uso de PROs a nivel nacional en Estados Unidos.(17)
  </p>
  <p>
    Existen varios tipos de estos programas de escalas PRO, la mayoría basados en la web. La experiencia en estudios previos es que han ayudado al médico clínico a impactar en las variables mencionadas previamente al intensificar el manejo sintomático y mejorar la comunicación medico paciente.(13, 18) Desafortunadamente la experiencia en México es escasa y los programas tipo PRO son en inglés, por lo que no se le ha dado un uso extendido en el medio. Para enmendar esta problemática se creó la plataforma electrónica “AVISO”, la cual trabaja sobre algunas de las limitaciones de las plataformas de otros países estando ajustada al lenguaje y particularidades de la población mexicana, además de otras funcionalidades que permiten ser un producto de calidad para el tratamiento del paciente oncológico.
  </p>
  <h4>2.2.	Justificación</h4>
  <p>
    Como se mencionó previamente, a pesar de que ha demostrado la utilidad de la utilización de escalas PRO en otros países, en especial en un formato electrónico, en México hay una experiencia muy limitada con el uso de estas metodologías y aún menos con una plataforma electrónica que facilite el proceso. Con esto en mente se desarrolló un programa llamado “AVISO” (Asistente Virtual Integral de Señales Oncológicas) para combatir esta problemática, el cual pretende que los pacientes llenen una encuesta semanal que pregunta sobre los síntomas oncológicos más comunes y evalúa la calidad de vida para después mandarle la información al médico tratante. Se plantea que el uso del programa tenga baja dificultad técnica tanto para el paciente como para el médico tratante. Dicho esto, la meta principal de la aplicación es apoyar al oncólogo clínico en el cuidado de los pacientes a través de la identificación temprana de síntomas para de tal manera poder resolverlos de una manera oportuna y así impactar en la vida de los pacientes de múltiples maneras.
  </p>
  <p>
    El programa se realizó en colaboración con la clínica “OPCION”, una clínica exclusiva de pacientes oncológicos en Monterrey, México. Tiene dos funciones principales, la primera es la aplicación de una encuesta que pregunta por los síntomas que los pacientes oncológicos más comúnmente presentan. Fue basada en un metaanálisis de 21 estudios multinacionales con 4,067 pacientes el cual resume los síntomas más comúnmente presentados en pacientes oncológicos y califica la frecuencia y severidad de los síntomas numéricamente.(19) Partes de la escala también fueron inspiradas en el “MD Anderson Symptom Inventory” (MDASI) al ser una escala globalmente reconocida de sintomatología oncológica frecuente, sin embargo, a las porciones incluidas se les hizo varias alteraciones para ser adaptadas con mayor facilidad a un formato electrónico y a la población mexicana. Otras ventajas son que la escala es comprensiva y breve, de tal manera que es poco molesta para los pacientes. Adicionalmente utiliza una escala numérica que es fácil de entender para los pacientes y el médico tratante. (20) (21) La escala final fue validada por un equipo multidisciplinario de médicos de la clínica Opción.
  </p>
  <p>
    Para la detección eficaz de síntomas se plantea que haya recordatorios semanales en el correo del paciente solicitándole que llene la encuesta. Esta información se analiza y almacena automáticamente en el perfil del paciente, el cual puede acceder el médico tratante antes de la consulta. En caso de presentarse algún síntoma preocupante el programa generará una alerta verde, amarilla o roja dependiendo de la severidad, la cual se envía al médico tratante y a la enfermera de manera automática en un correo. Basado en la importancia del síntoma también se mandará una segunda y tercera alerta al médico tratante para que se comunique a la brevedad posible con el paciente.
  </p>
  <p>
    El segundo uso de la aplicación es que si el paciente presenta un síntoma especifico que desea reportar, pero no desea llenar toda la encuesta o el malestar no aparece en la escala de síntomas generales, puede hacerlo a través de esta función. Una vez que reporta el síntoma al igual que con la escala PRO se genera una alerta de color dependiendo de la severidad y llega de forma automática al médico tratante y la enfermera, con recordatorios basado en la severidad del síntoma. Si el síntoma reportado por el paciente es uno de los que tenemos en nuestra base de datos, de manera automática se enviara retroalimentación básica del alivio inmediato del síntoma basado en lo que contesto.  De ser el síntoma algo que se detecte como una alerta severa se le indicara al paciente que se ponga en contacto con su médico tratante. Todo esto se almacena en el perfil del paciente y el médico tratante lo puede acceder de forma electrónica en cualquier momento.
  </p>
  <p>
    Referente a las alertas si es nivel verde (severidad leve reportada por el paciente) se almacena en el expediente y se manda un correo al médico al final del día con todas las alertas verdes de todos sus pacientes para ese día. En un segundo nivel, si la alerta es color amarillo (intensidad moderada) se manda directamente al expediente y se manda un correo al doctor en ese momento de ese paciente. Finalmente, si se genera una alerta roja (severidad alta o intolerable) se sigue el mismo proceso que una amarilla, pero se manda un correo de alta prioridad cada 3 horas hasta que se desactive.
  </p>
  <h2>REFERENCIAS</h2>
  <ul>
    <li>
      1.	Fisch MJ, Lee JW, Weiss M, Wagner LI, Chang VT, Cella D, et al. Prospective, observational study of pain and analgesic prescribing in medical oncology outpatients with breast, colorectal, lung, or prostate cancer. J Clin Oncol. 2012;30(16):1980-8.
    </li>
    <li>
      2.	Basch E. The Missing Voice of Patients in Drug-Safety Reporting. New England Journal of Medicine. 2010;362;10.
    </li>
    <li>
      3.	Fromme EK, Eilers KM, Mori M, Hsieh YC, Beer TM. How accurate is clinician reporting of chemotherapy adverse effects? A comparison with patient-reported symptoms from the Quality-of-Life Questionnaire C30. J Clin Oncol. 2004;22(17):3485-90.
    </li>
    <li>
      4.	Laugsand EA, Sprangers MA, Bjordal K, Skorpen F, Kaasa S, Klepstad P. Health care providers underestimate symptom intensities of cancer patients: a multicenter European study. Health and quality of life outcomes. 2010;8:104.
    </li>
    <li>
      5.	Serguei Pakhomov P, * Steven J. Jacobsen, MD, PhD,† Christopher G. Chute, MD, DrPH,** and Véronique L. Roger, MD, MPH††. Agreement between Patient­reported Symptoms and their Documentation in the Medical Record. Am J Manag Care. 2008.
    </li>
    <li>
      6.	Hsien Seow P, Jonathan Sussman, MD, MSc, Lorraine Martelli-Reid, RN, MN, NP,, Greg Pond P, PStat, and Daryl Bainbridge, PhD. Do High Symptom Scores Trigger Clinical Actions? An Audit
      After Implementing Electronic Symptom Screening. American Society of Clinical Oncology. 2012;8(6).
    </li>
    <li>
      7.	Gilbert JE, Howell D, King S, Sawka C, Hughes E, Angus H, et al. Quality improvement in cancer symptom assessment and control: the Provincial Palliative Care Integration Project (PPCIP). J Pain Symptom Manage. 2012;43(4):663-78.
    </li>
    <li>
      8.	Kotronoulas G, Kearney N, Maguire R, Harrow A, Di Domenico D, Croy S, et al. What is the value of the routine use of patient-reported outcome measures toward improvement of patient outcomes, processes of care, and health service outcomes in cancer care? A systematic review of controlled trials. J Clin Oncol. 2014;32(14):1480-501.
    </li>
    <li>
      9.	Kozminski MA, Neumann PJ, Nadler ES, Jankovic A, Ubel PA. How long and how well: oncologists' attitudes toward the relative value of life-prolonging v. quality of life-enhancing treatments. Med Decis Making. 2011;31(3):380-5.
    </li>
    <li>
      10.	Kirkbride P, Tannock IF. Trials in palliative treatment—have the goal posts been moved? The Lancet Oncology. 2008;9(3):186-7.
    </li>
    <li>
      11.	Basch E, Deal AM, Kris MG, Scher HI, Hudis CA, Sabbatini P, et al. Symptom Monitoring With Patient-Reported Outcomes During Routine Cancer Treatment: A Randomized Controlled Trial. J Clin Oncol. 2016;34(6):557-65.
    </li>
    <li>
      12.	Mayer DK, Travers D, Wyss A, Leak A, Waller A. Why do patients with cancer visit emergency departments? Results of a 2008 population study in North Carolina. J Clin Oncol. 2011;29(19):2683-8.
    </li>
    <li>
      13.	Bennett AV, Jensen RE, Basch E. Electronic patient-reported outcome systems in oncology clinical practice. CA Cancer J Clin. 2012;62(5):337-47.
    </li>
    <li>
      14.	Trajkovic-Vidakovic M, de Graeff A, Voest EE, Teunissen SC. Symptoms tell it all: a systematic review of the value of symptom assessment to predict survival in advanced cancer patients. Crit Rev Oncol Hematol. 2012;84(1):130-48.
    </li>
    <li>
      15.	Velikova G, Booth L, Smith AB, Brown PM, Lynch P, Brown JM, et al. Measuring quality of life in routine oncology practice improves communication and patient well-being: a randomized controlled trial. J Clin Oncol. 2004;22(4):714-24.
    </li>
    <li>
      16.	Basch E, Deal AM, Dueck AC, et al. Overall survival results of a trial assessing patient-reported outcomes for symptom monitoring during routine cancer treatment. JAMA. 2017;318(2):197-8.
    </li>
    <li>
      17.	Alliance Foundation Trials L. "PRO-TECT" Patient Reported Outcomes to Enhance Cancer Treatment Clinicaltrials.gov, US National Library of medicine2018 [Available from: https://clinicaltrials.gov/ct2/show/NCT03249090.
    </li>
    <li>
      18.	Roxanne E. Jensen P, Claire F. Snyder, PhD, Amy P. Abernethy, MD, Ethan Basch, MD,, Arnold L. Potosky P, Aaron C. Roberts, Deena R. Loeffler, MA, and Bryce B. Reeve, PhD. Review of Electronic Patient-Reported Outcomes Systems Used in Cancer Clinical Care. American Society of Clinical Oncology. 2013.
    </li>
    <li>
      19.	Carolyn Miller Reilly DWB, Sandra A. Mitchell, Lori M. Minasian & Ethan Basch, Amylou C. Dueck, David Cella, Bryce B. Reeve. A literature synthesis of symptom prevalence and severity in persons receiving active cancer treatment. Springer-Verlag Berlin Heidelberg. 2013:26.
    </li>
    <li>
      20.	Charles S. Cleeland TRM, Xin Shelley Wang. Assessing Symptom Distress in Cancer Patients. American Cancer Society. 2000.
    </li>
    <li>
      21.	Jones D, Zhao F, Fisch MJ, Wagner LI, Patrick-Miller LJ, Cleeland CS, et al. The validity and utility of the MD Anderson Symptom Inventory in patients with prostate cancer: evidence from the Symptom Outcomes and Practice Patterns (SOAPP) data from the Eastern Cooperative Oncology Group. Clin Genitourin Cancer. 2014;12(1):41-9.
    </li>

</div>
