<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <span>this will be removed, handled automatically with logins</span>
  <div class="field">
    <%= form.label "Doctor's ID" %>
    <%= form.number_field :doctor_id, id: :patient_doctor_id %>
  </div>

  <div class="field">
    <%= form.label "Nombre" %>
    <%= form.text_field :name, id: :patient_name %>
  </div>

  <div class="field">
    <%= form.label "Dirección" %>
    <%= form.text_area :address, id: :patient_address %>
  </div>

  <div class="field">
    <%= form.label "Fecha de nacimiento" %>
    <%= form.text_area :dob, id: :patient_dob %>
  </div>

  <div class="field">
    <%= form.label "Comentarios" %>
    <%= form.text_area :comment, id: :patient_comment %>
  </div>

  <div class="field">
    <%= form.label "Correo electrónico" %>
    <%= form.text_area :email, id: :patient_email%>
  </div>

  <div class="field">
    <%= form.label "Teléfono" %>
    <%= form.text_area :phone, id: :patient_phone%>
  </div>

  <div class = "field">
    <%= form.label "Diagnostico"%>
    <%= form.text_area :diagnostic, id: :patient_diagnosis%>
  </div>


  <div class="field">
    <%= form.label "Habilidad Tecnológica"%>
    <select name="patient[tech_ability]">
      <option value="">Please select</option>
    <option value="1">Baja</option>
    <option value="2">Media</option>
    <option value="3">Alta</option>
  </select>
  </div>

  <div class = "doctor-fills">
    <div class = "field">
      <%=form.label "Estadío Clínico"%>
      <%= form.text_area :estadio, id: :patient_estadio%>
    </div>

    <div class = "field">
      <%= form.label "Tratamiento" %>
      <%= form.text_area :treatment, id: :patient_treatment%>
    </div>
  </div>


  <div class="actions">
    <%= form.submit "Guardar Perfil" %>
  </div>
<% end %>
