<p id="notice"><%= notice %></p>

<h1>Pacientes</h1>

<table>
  <thead>
    <tr>
      <th class="colorize0">Doctor</th>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Fecha de Nacimiento</th>
      <th>Comentarios</th>
      <th>Correo electrónico</th>
      <th>Teléfono</th>
      <th>Habilidad Tecnológica</th>
      <th>Diagnóstico</th>
      <th>Estadío Clínico</th>
      <th>Tratamiento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td> <%doctor = @doctors.find(patient.doctor_id)%>
          <%= link_to doctor.name, doctor_path(doctor.id)  %></td>
        <td><%= link_to patient.name, patient %></td>
        <td><%= patient.address %></td>
        <td><%= patient.dob %></td>
        <td><%= patient.comment %></td>
        <td><%= patient.email %></td>
        <td><%= patient.phone %></td>
        <td><%= patient.tech_ability %></td>
        <td><%= patient.diagnostic %></td>
        <td><%= patient.estadio %></td>
        <td><%= patient.treatment%></td>
        <td><%= link_to 'Borrar', patient, method: :delete, data: { confirm: 'Estas seguro que deseas borrar este perfil?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Paciente', new_patient_path %>
