<p id="notice"><%= notice %></p>

<p>
  <strong>Doctor:</strong>
  <%=link_to @doctor.name, doctor_path(@doctor) %>
</p>

<p>
  <strong>Nombre del Paciente:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>Fecha de Nacimiento:</strong>
  <%= @patient.dob %>
</p>

<p>
  <strong>Comentarios:</strong>
  <%= @patient.comment %>
</p>

<p>
  <strong>Correo Electrónico:</strong>
  <%= @patient.email %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @patient.phone %>
</p>

<p>
  <strong>Habilidad Tecnológica:</strong>
  <%= @patient.tech_ability %>
</p>

<p>
  <strong>Diagnóstico: </strong>
  <%= @patient.diagnostic %>
</p>

<p>
  <strong>Estadío Clínico: </strong>
  <%= @patient.estadio %>
</p>

<p>
  <strong>Tratamiento: </strong>
  <%= @patient.treatment %>
</p>


<div>
  <h1>Encuestas Contestadas</h1>

  <table>
    <thead>
      <tr>
        <th><span class="colorize0" title="Dolor">Q1</span></th>
        <th><span class="colorize0" title="Falta de Aliento o Tos">Q2</span></th>
        <th><span class="colorize0" title="Nausea o Vómito">Q3</span></th>
        <th><span class="colorize0" title="Fatiga o Somnolencia">Q4</span></th>
        <th><span class="colorize0" title="Angustia">Q5</span></th>
        <th><span class="colorize0" title="Diarrea">Q6</span></th>
        <th><span class="colorize0" title="Problemas de Atención, Memoria o Coordinación">Q7</span></th>
        <th><span class="colorize0" title="Falta de Apetito">Q8</span></th>
        <th><span class="colorize0" title="Constipación">Q9</span></th>
        <th><span class="colorize0" title="Resequedad u otros Malestares en la Boca">Q10</span></th>
        <th><span class="colorize0" title="Insomnio">Q11</span></th>
        <th><span class="colorize0" title="Tristeza">Q12</span></th>
        <th><span class="colorize0" title="Fiebre">Q13</span></th>
        <th><span class="colorize0" title="Actividad General">Q14</span></th>
        <th><span class="colorize0" title="Humor">Q15</span></th>
        <th><span class="colorize0" title="Trabajo (incluye trabajos del hogar)">Q16</span></th>
        <th><span class="colorize0" title="Relaciones Personales">Q17</span></th>
        <th><span class="colorize0" title="Caminar">Q18</span></th>
        <th><span class="colorize0" title="Disfrutar la Vida">Q19</span></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @pros.each do |pro| %>
        <tr>
          <td class = 'colorize<%= pro.q1 %>'><%= pro.q1 %></td>
          <td class = 'colorize<%= pro.q2 %>'><%= pro.q2 %></td>
          <td class = 'colorize<%= pro.q3 %>'><%= pro.q3 %></td>
          <td class = 'colorize<%= pro.q4 %>'><%= pro.q4 %></td>
          <td class = 'colorize<%= pro.q5 %>'><%= pro.q5 %></td>
          <td class = 'colorize<%= pro.q6 %>'><%= pro.q6 %></td>
          <td class = 'colorize<%= pro.q7 %>'><%= pro.q7 %></td>
          <td class = 'colorize<%= pro.q8 %>'><%= pro.q8 %></td>
          <td class = 'colorize<%= pro.q9 %>'><%= pro.q9 %></td>
          <td class = 'colorize<%= pro.q10 %>'><%= pro.q10 %></td>
          <td class = 'colorize<%= pro.q11 %>'><%= pro.q11 %></td>
          <td class = 'colorize<%= pro.q12 %>'><%= pro.q12 %></td>
          <td class = 'colorize<%= pro.q13 %>'><%= pro.q13 %></td>
          <td class = 'colorize<%= pro.q14 %>'><%= pro.q14 %></td>
          <td class = 'colorize<%= pro.q15 %>'><%= pro.q15 %></td>
          <td class = 'colorize<%= pro.q16 %>'><%= pro.q16 %></td>
          <td class = 'colorize<%= pro.q17 %>'><%= pro.q17 %></td>
          <td class = 'colorize<%= pro.q18 %>'><%= pro.q18 %></td>
          <td class = 'colorize<%= pro.q19 %>'><%= pro.q19 %></td>

          <td><%= link_to 'Mostrar', pro %></td>
          <td><%= link_to 'Borrar', pro, method: :delete, data: { confirm: 'Estas seguro que deseas borrar esta encuesta?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Editar', edit_patient_path(@patient) %> |
<%= link_to 'Regresar', patients_path %>
