<%= form_with(model: doctor, local: true) do |form| %>
  <% if doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Nombre" %>
    <%= form.text_field :name, id: :doctor_name %>
  </div>

  <div class="field">
    <%= form.label "Dirección" %>
    <%= form.text_field :address, id: :doctor_address %>
  </div>

  <div class="field">
    <%= form.label "Teléfono" %>
    <%= form.text_field :phone, id: :doctor_phone %>
  </div>

  <div class="field">
    <%= form.label "Título" %>
    <%= form.text_field :title, id: :doctor_title %>
  </div>

  <div class="field">
    <%= form.label "Correo electrónico" %>
    <%= form.text_field :email, id: :doctor_email %>
  </div>

  <div class="field">
    <%= form.label "Experiencia" %>
    <%= form.text_area :experience, id: :doctor_experience %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar Perfil" %>
  </div>
<% end %>
