<p id="notice"><%= notice %></p>

<h1>Doctors</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Título</th>
      <th>Correo electrónico</th>
      <th>Experiencia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= link_to doctor.name, doctor_path(doctor) %></td>
        <td><%= doctor.address %></td>
        <td><%= doctor.phone %></td>
        <td><%= doctor.title %></td>
        <td><%= doctor.email %></td>
        <td><%= doctor.experience %></td>
        <td><%= link_to 'Borrar', doctor, method: :delete, data: { confirm: 'Estas seguro que deseas borrar el perfil?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Doctor', new_doctor_path %>
