<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @doctor.address %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @doctor.phone %>
</p>

<p>
  <strong>Título:</strong>
  <%= @doctor.title %>
</p>

<p>
  <strong>Correo electrónico:</strong>
  <%= @doctor.email %>
</p>

<p>
  <strong>Experiencia:</strong>
  <%= @doctor.experience %>
</p>

<div>
  <h1>Pacientes</h1>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Fecha de Nacimiento</th>
        <th>Comentarios</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @patients.each do |patient| %>
        <tr>
          <td><%= link_to patient.name, patient %></td>
          <td><%= patient.address %></td>
          <td><%= patient.dob %></td>
          <td><%= patient.comment %></td>
          <td><%= link_to 'Borrar', patient, method: :delete, data: { confirm: 'Estas seguro que deseas borrar a este paciente?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Editar', edit_doctor_path(@doctor) %> |
<%= link_to 'Regresar', doctors_path %>
