<%= form_with(model: pro, local: true) do |form| %>
  <% if pro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pro.errors.count, "error") %> prohibited this pro from being saved:</h2>

      <ul>
      <% pro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <span>this will be removed, handled automatically with logins</span>
  <div class="field">
    <%= form.label "Patient's ID" %>
    <%= form.number_field :patient_id, id: :pro_patient_id %>
  </div>

  <div>
    <p>Comúnmente los pacientes oncológicos pueden tener una variedad de síntomas. Estos síntomas pueden o no estar asociados al tratamiento que reciben como la quimioterapia o radioterapia. Por favor lee los siguientes síntomas y si has presentado alguno contesta que tan severo fue.
    </p>
  </div>



  <% levels = { 'No aplica' => 0, 'Leve' => 1, 'Moderado' => 2, 'Severo' => 3, 'Insoportable' => 4 }%>
<table>
  <thead>
    <tr>
      <th>Sintoma</th>
      <th>No Aplica</th>
      <th>Leve</th>
      <th>Moderado</th>
      <th>Severo</th>
      <th>Insoportable</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Dolor</td>
      <% list = levels
         list.each {|x| %>
          <td><%= radio_button(:pro, :q1, x[1] )%> <span><%=x[0]%></span> </td>
      <% } %>
    </tr>

    <tr>
      <td>Falta de Aliento o  Tos</td>
      <% list = levels
         list.each {|x| %>
          <td><%= radio_button(:pro, :q2, x[1] )%> <span><%=x[0]%></span> </td>
      <% } %>
    </tr>

    <tr>
      <td>Nausea/Vomito</td>
      <% list = levels
         list.each {|x| %>
          <td><%= radio_button(:pro, :q3, x[1] )%> <span><%=x[0]%></span> </td>
      <% } %>
    </tr>

    <tr>
      <td>Fatiga o Somnolencia</td>
      <% list = levels
         list.each {|x| %>
          <td><%= radio_button(:pro, :q4, x[1] )%> <span><%=x[0]%></span> </td>
      <% } %>
    </tr>

    <tr>
      <td>Angustia</td>
      <% list = levels
         list.each {|x| %>
          <td><%= radio_button(:pro, :q5, x[1] )%> <span><%=x[0]%></span> </td>
      <% } %>
    </tr>

    <tr>
      <td>Diarrea</td>
      <% list = levels
         list.each {|x| %>
          <td><%= radio_button(:pro, :q6, x[1] )%> <span><%=x[0]%></span> </td>
      <% } %>
    </tr>

    <tr>
      <td>Problemas de Atencion, Memoria o Coordinacion</td>
      <% list = levels
         list.each {|x| %>
          <td><%= radio_button(:pro, :q7, x[1] )%> <span><%=x[0]%></span> </td>
      <% } %>
    </tr>

    <tr>
      <td>Falta de Apetito</td>
      <% list = levels
         list.each {|x| %>
          <td><%= radio_button(:pro, :q8, x[1] )%> <span><%=x[0]%></span> </td>
      <% } %>
    </tr>

    <tr>
      <td>Constipación</td>
      <% list = levels
         list.each {|x| %>
          <td><%= radio_button(:pro, :q9, x[1] )%> <span><%=x[0]%></span> </td>
      <% } %>
    </tr>

    <tr>
      <td>Resequedad u otros malestares en la boca</td>
      <% list = levels
         list.each {|x| %>
          <td><%= radio_button(:pro, :q10, x[1] )%> <span><%=x[0]%></span> </td>
      <% } %>
    </tr>

    <tr>
      <td>Insomnio</td>
      <% list = levels
         list.each {|x| %>
          <td><%= radio_button(:pro, :q11, x[1] )%> <span><%=x[0]%></span> </td>
      <% } %>
    </tr>


    <tr>
      <td>Tristeza</td>
      <% list = levels
         list.each {|x| %>
          <td><%= radio_button(:pro, :q12, x[1] )%> <span><%=x[0]%></span> </td>
      <% } %>
    </tr>

    <tr>
      <td>Fiebre</td>
      <% list = levels
         list.each {|x| %>
          <td><%= radio_button(:pro, :q13, x[1] )%> <span><%=x[0]%></span> </td>
      <% } %>
    </tr>
  </tbody>
</table>

  <div>
    <p>Los síntomas, a mayor o menor medida, a menudo afectan la manera en la que vivimos el día a día y realizamos nuestras labores diarias. Por favor lee las siguientes preguntas y contesta si alguno de los síntomas o la enfermedad en si han afectado su vida de alguna manera.
    </p>
  </div>

  <table>
    <thead>
      <tr>
        <th>Area de Afectacion</th>
        <th>No Aplica</th>
        <th>Leve</th>
        <th>Moderado</th>
        <th>Severo</th>
        <th>Insoportable</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>Actividad General</td>
        <% list = levels
           list.each {|x| %>
            <td><%= radio_button(:pro, :q14, x[1] )%> <span><%=x[0]%></span> </td>
        <% } %>
      </tr>

      <tr>
        <td>Humor</td>
        <% list = levels
           list.each {|x| %>
            <td><%= radio_button(:pro, :q15, x[1] )%> <span><%=x[0]%></span> </td>
        <% } %>
      </tr>

      <tr>
        <td>Trabajo (incluye trabajos del hogar)</td>
        <% list = levels
           list.each {|x| %>
            <td><%= radio_button(:pro, :q16, x[1] )%> <span><%=x[0]%></span> </td>
        <% } %>
      </tr>

      <tr>
        <td>Relaciones Personales</td>
        <% list = levels
           list.each {|x| %>
            <td><%= radio_button(:pro, :q17, x[1] )%> <span><%=x[0]%></span> </td>
        <% } %>
      </tr>

      <tr>
        <td>Caminar</td>
        <% list = levels
           list.each {|x| %>
            <td><%= radio_button(:pro, :q18, x[1] )%> <span><%=x[0]%></span> </td>
        <% } %>
      </tr>

      <tr>
        <td>Disfrutar la vida</td>
        <% list = levels
           list.each {|x| %>
            <td><%= radio_button(:pro, :q19, x[1] )%> <span><%=x[0]%></span> </td>
        <% } %>
      </tr>
    </tbody>
  </table>

  <div class="field">
    <%= form.label "Sus sintomas son actuales? cuando ocurrieron? Explique a continuacion" %>
    <%= form.text_area :current, id: :pro_current %>
  </div>

  <div class="field">
    <%= form.label "Tiene usted otros sintomas? Explique a continuacion" %>
    <%= form.text_area :others, id: :pro_others %>
  </div>

  <div>
    <% levels = { 'No aplica' => 0, 'Leve' => 1, 'Moderado' => 2, 'Severo' => 3, 'Insoportable' => 4 }%>
    <%= form.label "Con que severidad categorizaria sus sintomas de la pregunta anterior?"%>
    <% list = levels
    list.each {|x| %>
      <%= radio_button(:pro, :severity, x[1] )%> <span><%=x[0]%></span>
    <% } %>

  <div class="actions">
    <%= form.submit "Guardar Encuesta" %>
  </div>
<% end %>
