<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= link_to @patient.name, patient_path(@patient) %>
</p>

<p>
  <strong>Q1:</strong>
  <%= @pro.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @pro.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @pro.q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @pro.q4 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @pro.q5 %>
</p>

<p>
  <strong>Q6:</strong>
  <%= @pro.q6 %>
</p>

<p>
  <strong>Q7:</strong>
  <%= @pro.q7 %>
</p>

<p>
  <strong>Q8:</strong>
  <%= @pro.q8 %>
</p>

<p>
  <strong>Q9:</strong>
  <%= @pro.q9 %>
</p>

<p>
  <strong>Q10:</strong>
  <%= @pro.q10 %>
</p>

<p>
  <strong>Q11:</strong>
  <%= @pro.q11 %>
</p>

<p>
  <strong>Q12:</strong>
  <%= @pro.q12 %>
</p>

<p>
  <strong>Q13:</strong>
  <%= @pro.q13 %>
</p>

<p>
  <strong>Q14:</strong>
  <%= @pro.q14 %>
</p>

<p>
  <strong>Q15:</strong>
  <%= @pro.q15 %>
</p>

<p>
  <strong>Q16:</strong>
  <%= @pro.q16 %>
</p>

<p>
  <strong>Q17:</strong>
  <%= @pro.q17 %>
</p>

<p>
  <strong>Q18:</strong>
  <%= @pro.q18 %>
</p>

<p>
  <strong>Q19:</strong>
  <%= @pro.q19 %>
</p>

<p>
  <strong>Los sintomas son actuales?</strong>
  <%= @pro.current %>
</p>

<p>
  <strong>Tiene otros sintomas?</strong>
  <%= @pro.others %>
</p>

<p>
  <strong>Con que severidad los categoriza?</strong>
  <%= @pro.severity%>
</p>

<%= link_to 'Edit', edit_pro_path(@pro) %> |
<%= link_to 'Back', pros_path %>
