// Place all the styles related to the pros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.colorize0 {  padding : 0 5px 7px;
}

.colorize1 {
  background-color : #00FF00;
  padding : 0 5px 7px;
}

.colorize2 {
  background-color : #FFFF00;
  padding : 0 5px 7px;
}

.colorize3 {
  background-color : #FF0000;
  padding : 0 5px 7px;
}

.colorize4 {
  background-color : #000000;
  padding : 0 5px 7px;
}
