// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1, h2, h4
{text-align: center;}


ul{
  font-size: large;
  margin-left: 40px;
}

p
{text-align: justify;
text-indent: 3%;
font-size: large;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
